[Unit]
Description=Lidarr
Documentation=https://github.com/lidarr/Lidarr
After=syslog.target
After=network.target

[Service]
User=lidarr
Group=media
Type=simple
ExecStart=/usr/bin/mono /opt/Lidarr/Lidarr.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target