.r {
  color: #ac0000;
}

.b {
  color: #000000;
}

.g {
  color: #2E6F40;
}

.dg {
  color: #183a22;
}

.s {
  color: #898989;
}

.st {
  color: #d6d6d6;
}

.o {
  color: #dc6f10;
}

.br {
  color: #895129;
}

.p {
  color: #800080;
}

.bra {
  color: #B87333;
}

.c {
  color: #C49E5B;
}

.bl {
  color: #323292;
}