aafigure==0.6
alabaster==0.7.12
attrs==22.1.0
Babel==2.10.3
certifi==2023.7.22
chardet==5.0.0
charset-normalizer==2.1.1
docutils==0.17.1
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.1
packaging==21.3
Pygments==2.15.0
pyparsing==3.0.9
pytz==2022.4
requests==2.32.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-copybutton==0.5.0
sphinx-design==0.3.0
sphinx-rtd-theme==1.0.0
sphinx_collapse==0.1.2
sphinxcontrib-aafig2==1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.19
