[Unit]
Description=Conan Exiles
After=syslog.target network.target

[Service]
Environment="WINEPREFIX=/data/conan-exiles-server/.wine"
ExecStart=/usr/bin/xvfb-run --auto-servernum /opt/wine-stable/bin/wine64 /data/conan-exiles-server/ConanSandbox/Binaries/Win64/ConanSandboxServer-Win64-Test.exe -nosteamclient -game -server -log
WorkingDirectory=/data/conan-exiles-server/
User=conan
Type=simple
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
