[Unit]
Description=Sonarr (NZBDrone)
Documentation=https://sonarr.tv/#support
After=syslog.target
After=network.target

[Service]
User=sonarr
Group=media
Type=simple
WorkingDirectory=/var/lib/sonarr
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
Restart=always

[Install]
WantedBy=multi-user.target