[Unit]
Description=NZBGet Daemon
Documentation=https://nzbget.net/documentation
After=network.target
RequiresMountsFor=/data

[Service]
User=nzbget
Group=media
Type=forking
PIDFile=/data/services/nzbget/nzbget.pid
WorkingDirectory=/data/services/nzbget/nzbget.lock
ExecStart=/usr/bin/nzbget --daemon --configfile /data/services/nzbget/nzbget.conf
ExecStop=/usr/bin/nzbget --quit --configfile /data/services/nzbget/nzbget.conf
ExecReload=/usr/bin/nzbget --reload --configfile /data/services/nzbget/nzbget.conf
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target